<h1>Deployers </h1>

<p> Meet the Students! </p>


<p> This page was deployed by... </p>
<ul> 
    <li> Sara Alkhodair</li>
    <p> <em> Georgetown University MiM Class of 2022 </em></p>

    <li> Sydne Scales </li>
    <p> <em> Georgetown University MiM Class of 2022 </em> </p>

    <li> Lauryn Lewis </li>
    <p> <em> Georgetown University MiM Class of 2022 </em> </p>
</ul>
