<h1>Deployers </h1>

<p> Meet the Students! </p>


<p> This page was deployed by... </p>
<ul> 
    <li> Sara Alkhodair</li>
    <p> <em> Georgetown University MiM Class of 2022 </em></p>
    <p> BS in Finance from American University Masters in Management from Georgetown University Experience in financial services: investment analysis, financial modeling, and portfolio management </p>

    <li> Sydne Scales </li>
    <p> <em> Georgetown University MiM Class of 2022 </em> </p>
    <p> BS in Sociology & Philosophy from Georgetown University. Experience working in consulting and finance operations. </p>

    <li> Lauryn Lewis </li>
    <p> <em> Georgetown University MiM Class of 2022 </em> </p>
    <p> BS in Sociology from Spelman College. Experience working in talent acquisition, tech, and project management.</p>
</ul>
